# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options directory
.vs/

# Build results
bin/
obj/

# Build log files
*.log

# Others
*.cache
*.pdb
*.dbmdl
*.bak
*.ldf
*.mdf
*.csproj.user
